.pro{
    text-decoration: underline;
}


body{
    background-color: grey;
}

h1{
    color: white;
    height: 40px;
    width: 600px;
    margin-left: 570px;
    margin-top: 50px;
}

.Flag{
    width: 400px;
    margin-left: 540px;
    margin-top: 10px;

}

.slogan{
    height: 200px;
    width: 200px;
    margin-left: 650px;
}

h3{
    color: black;
    text-decoration: underline;
    margin-left: 10px;
}

p{
    margin: 50px;
    color: white;
}

hr{
  border-style: dotted none none;
  border-color: #301E67;
  border-width: 5px;
  width: 5%;
}

li{
    margin: 30px;
}


h2{
 margin: 10px;
 color: white;
}

img{
    margin-left: 60px;
}

img:hover{
    background-color: green;
}

label{
    margin-left: 20px;
}